/* Reset básico para eliminar márgenes por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:#52AA5E;
}

#barranav{
  width: 100%;
  height: 10vh;
  background-color: #375A3C;
  
  /* Flexbox para alinear elementos horizontalmente */
  display: flex;
  flex-direction: row;      /* Los elementos se colocan en fila horizontal (por defecto) */
  align-items: center;       /* Centra los elementos verticalmente dentro del 10vh */
  gap: 1rem;
}

