/* Reset básico para eliminar márgenes por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:green;
}
.navbar {
  background-color: #1b5e20; /* Verde oscuro para contrastar */
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end; /* Alinea los elementos horizontalmente a la derecha */
  gap: 1.5rem;               /* Espacio horizontal entre los botones */
}


